@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter';
}

.title-1 {
	font-size: 80px;
	font-weight: bold;
	line-height: 100px;
}

.title-2 {
	font-size: 72px;
	font-weight: bold;
	line-height: 92px;
}

.title-3 {
	font-size: 64px;
	font-weight: bold;
	line-height: auto;
}
